// @use "../components/styles.scss";

@use '../../components/Letter/styles.scss' as letter-styles;

.invitation-container {
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .envelope-wrapper {
        position: sticky;
        top: 50vh;
        transform: translateY(-50%);
        // background: var(--bg-envelope-color);

        .envelope {

            position: relative;
            width: 300px;
            height: 230px;


            .letter-container {
                position: absolute;
                right: 22%;
                bottom: 0;
                width: 60%;
                height: 100%;
                background: var(--primary);
                box-shadow: 0 0 5px var(--shadow-color);

                transform: scale(2.3);

                .letter {
                    // padding: 20px 10px;
                    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    // color: var(--txt-color);
                    // text-align: left;
                    // font-size: 10px;
                }
            }
        }
    }
}