// .letter {
//     position: absolute;
//     right: 20%;
//     bottom: 0;
//     width: 54%;
//     height: 80%;
//     background: var(--primary);
//     text-align: center;
//     box-shadow: 0 0 5px var(--shadow-color);
//     padding: 20px 10px;
//     // Animation handled by Framer Motion

//     >.text {
//         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//         color: var(--txt-color);
//         text-align: left;
//         font-size: 10px;
//     }
// }

.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .letter {
        height: 448px;
        width: 364px;
        background-color: white;
        display: flex;
        justify-content: center;
    }
}