@use '../../styles/mixins' as *;

.inv-map {
    width: 100%;
    background: var(--inv-bg-section);

    &__container {
        width: 100%;
        height: 450px;

        @include tablet {
            height: 400px;
        }

        @include mobile {
            height: 300px;
        }
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border: none;
        filter: grayscale(100%);
        transition: filter var(--inv-transition-base);

        &:hover {
            filter: grayscale(0%);
        }
    }
}
