$bg-color: #050505;
$text-color: #ffffff;
$primary-color: #7000ff;
$secondary-color: #00c6ff;
$font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

$gradient-primary: linear-gradient(135deg, $primary-color, $secondary-color);
