.container {
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    >.envelope-wrapper {
        position: sticky;
        top: 50vh;
        transform: translateY(-50%);
        background: var(--bg-envelope-color);

        >.envelope {
            position: relative;
            width: 300px;
            height: 230px;
            perspective: 1000px;

            .flap {
                position: absolute;
                top: 0;
                z-index: 2;
                border-top: 130px solid var(--envelope-tab);
                border-right: 150px solid transparent;
                border-left: 150px solid transparent;
                transform-origin: top;
                // Animation handled by Framer Motion
            }

            // Replaced ::after with .pocket
            .pocket {
                position: absolute;
                z-index: 2;
                width: 0px;
                height: 0px;
                border-top: 130px solid transparent;
                border-right: 150px solid var(--envelope-cover);
                border-bottom: 100px solid var(--envelope-cover);
                border-left: 150px solid var(--envelope-cover);
            }

            >.letter {
                position: absolute;
                right: 20%;
                bottom: 0;
                width: 54%;
                height: 80%;
                background: var(--primary);
                text-align: center;
                box-shadow: 0 0 5px var(--shadow-color);
                padding: 20px 10px;
                // Animation handled by Framer Motion

                >.text {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: var(--txt-color);
                    text-align: left;
                    font-size: 10px;
                }
            }
        }

        .heart {
            position: absolute;
            top: 50%;
            left: 48%;
            width: 15px;
            height: 15px;
            background: var(--heart-color);
            z-index: 4;
            transform: translate(-50%, -20%) rotate(45deg);
            // transition: transform 0.5s ease-in-out 1s;
            box-shadow: 0 1px 6px var(--shadow-color);
            cursor: pointer;

            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: var(--heart-color);
                border-radius: 50%;
            }

            &:before {
                top: -7.5px;
            }

            &:after {
                right: 7.5px;
            }
        }
    }
}